# Core Django framework
Django~=5.0 

# For image processing (used by Django's ImageField and PIL/Pillow operations)
Pillow>=9.0

# Google Generative AI SDK (for Imagen 3 via the google.genai library)
google-generativeai>=0.5.0 
google-genai

# For interacting with Google Cloud Storage 
google-cloud-storage>=2.0.0

requests>=2.25.0
google-auth>=2.14.1 # For authenticating API requests
dj_database_url 
whitenoise
gunicorn>=20.1.0
python-dotenv>=1.0.0 # For local .env loading
psycopg2-binary>=2.9.5 # If using PostgreSQL
django-storages[google]>=1.14 